{% extends 'base.html' %}

{% block head %}
    <title>Playarena Ranking</title>
{% endblock %}

{% block body %}
    <div class="container-md">
        <h1>Playarena ranking</h1>

        <table>
            <thead>
            <tr>
                <th>Rank</th>
                <th></th>
                <th>Name</th>
                <th>Team</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
            <tr>
                <td>{{ player.rank }}</td>
                <th><img src="{{ player.image }}" alt="player photo" height="80px" width="80px"></th>
                <td><a href="#">{{ player.name }}</a></td>
                <td>{{ player.team }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}